<!DOCTYPE html>
<html>
<style>
    body {
        background-color: pink;
    }
</style>
<head>
    <title>Comment Section Example</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="commentsession">
        <div class="postcomment">
            <div class="userlist">
                <div class="user">
                    <div class="userimage">
                        <img src="/Users/sunnypark/Downloads/malfoy.webp" alt="">
                    </div>

                    <div class="usermeta">
                        <div class="username">Malfoy</div>
                        <div class="commentdate">10 days ago</div>
                    </div>
                </div>

                <div class="commentpost">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita eveniet quidem pariatur beatae possimus, laborum repellendus ipsum odio. Ea, nisi.</div>
            </div>
        </div>

        <div class="commentbox">
            <div class="user">
                <div class="userimage">
                    <img src="/Users/sunnypark/Downloads/malfoy.webp" alt="">
                </div>
                
                <div class="username">Malfoy</div>

                <form action="" method="Post">
                    <textarea name="comment" id="" cols="30" rows="10" placeholder="Your Message"></textarea>
                    <button class="submit">Comment</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>