<!DOCTYPE html>
<html lang="en">
    <style>
        body{
            background-color: pink;
        }

        div {
            font-size: 20px;
        }
    </style>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Document</title>
        <link rel="stylesheet" href="app.css" />
    </head>
    <body>
        <div class="container">
            <h1 style ="font-family: 'Courier New', Courier, monospace"><b>Female Physician Finder<b></h1>
            <div id="searchWrapper">
                <input
                    type="text"
                    name="searchBar"
                    id="searchBar"
                    placeholder="search for a doctor"
                />
            </div>
            <ul id="doctorsList"></ul>
        </div>
        <script src="app.js" ></script>
        <form method="GET" action="/doctor/{{username}}">
            <button type="submit">Create Doctor</button>
         </form>
        {% for i in range(doctors|length) %}
            <td><a href="/viewdoctor/{{doctors[i][0]}}">{{doctors[i][0]}} {{doctors[i][1]}}</a></td><br>
        {% endfor %}
    </body>
</html>