pic {
  padding: 30px;
}

.container {
  left: 0;
  right: 0;
 }

.center {
  margin: auto;
  width: 650px;
  left: 100px;
 }

.main {
  position:relative;
  width: 700px;
  min-height: 500px;
  margin: auto;
  padding-top:15px;
}

.main:before {
  content:'';
  position: absolute;
  width: 700px;
  height: 500px;
  margin: auto;
  z-index: -1;
  border: 5px solid rgb(219, 38, 189);
  border-radius: 20px;
  left:0px;
}